* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid black;
  background: url("./Images/background/background3.png");
  background-size: cover;
}